.hero {
     height: 100vh; /*Full screen height */
   
    
    
background-color:hsla(324,100%,92%,1);
background-image:
    /* radial-gradient(at 85% 3%, hsla(322,65%,70%,0.93) 0px, transparent 40%),
    radial-gradient(at 23% 4%, hsla(319,99%,77%,0.93) 0px, transparent 40%),
    radial-gradient(at 20% 100%, hsla(321,88%,70%,0.63) 0px, transparent 15%); */
    radial-gradient(at 64% 100%, hsla(311,0%,0%,0) 0px, transparent 50%),
radial-gradient(at 21% 88%, hsla(307,30%,86%,1) 0px, transparent 50%),
radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
radial-gradient(at 99% 0%, hsla(330,51%,69%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(340,61%,86%,1) 0px, transparent 50%);
background-size: cover;
background-repeat: no-repeat;
}
.smallText
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
body{
    position:relative;
    
    display:flex;
    justify-content: center;
    align-items:center;
    
}
.logo{
    position:absolute;
    visibility: hidden;
}
.header{
align-self: flex-start;
margin-top: 70px ;
font-size:60px;
color: #242424;

font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.gift-container
{
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    bottom:30%;
    animation:Bounce 3s ease infinite forwards;
    cursor:pointer;



}
@keyframes Bounce
{
    0%{
        transform:translateY(-24px);

    }
    50%
    {
        transform:translateY(0px)

    }
    100%
    {
        transform:translateY(-24px)

    }
}
@keyframes BounceOut
{
    0%{
        transform:translateY(24px);
        scale: .7;

    }
    50%
    {
        transform:translateY(0px);
        scale:1;

    }
    100%
    {
        transform:translateY(24px);
        scale:.7;

    }
}
.gift-container .gift-box
{
   position:absolute;
   height:200px;
   width:300px;
   background: #CD001A;
   border: 3px solid #b30000; /* Darker border for depth */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
    border-radius: 15px; /* Slight rounding for a realistic look */

    

}
/* .gift-container.active
{
    transform: translateX(-50%);
} */


.gift-container.active{
    animation:Vibration 1.5s ease forwards;
    /* transform:translateX(-100%) */
    /* transition: 5s ease; */
    /* transform:translateX(-100%);
 */
}
@keyframes MoveLeft
{
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(-100%);

    }
}
@keyframes Vibration {
    0%
    {
        transform:scale(1,1) ;

    }
    25%
    {
        transform:scale(.95,1.05) ;
    }
    50%
    {
        transform:scale(1.1,0.9) ;
    }
    70%
    {
        transform:scale(0.9,1.1) ;
    }
    100%
    {
        transform:scale(1,1) translateX(-100%);
    }
    

}

.gift-box::before{
    content:'';
    position:absolute;
    width:50px;
    height:200px;
    /* background:#FCCB06; */
    background: linear-gradient(to right, #FCCB06, #F6A600), 
    repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 0.2) 5px, rgba(0, 0, 0, 0.1) 5px, rgba(0, 0, 0, 0.1) 10px); /* Stripes */
    left:124px;
    border-radius: 0px 0px 5px 5px;

}
.gift-box::after{
    content:'';
    position:absolute;
    box-shadow: inset 0 10px rgba(0,0,0,0.3)
}
.click
{
    position:absolute;
    background:#CD001A;
    width:340px;
    height:90px;
    top:-140px;
    border-radius:15px;
    border: 3px solid #b30000;
    cursor:pointer;
    z-index:1;
    transition: .5s ease;
    
   

}
.click.active
{
    transform: translateY(-100px);
   
}
.click::before
{
    content:'';
    position:absolute;
    width:50px;
    height:90px;
    background: linear-gradient(to right, #FCCB06, #F6A600), 
    repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 0.2) 5px, rgba(0, 0, 0, 0.1) 5px, rgba(0, 0, 0, 0.1) 10px); /* Stripes */
    left:144px;
    z-index:2;
    border-radius: 5px 5px 0px 0px;  
}
.click::after{
    content:'';
    position:absolute;
    width:5px;
    height:0px;
     background:linear-gradient(to right, #FCCB06, #F6A600), 
     repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 0.2) 5px, rgba(0, 0, 0, 0.1) 5px, rgba(0, 0, 0, 0.1) 10px); /* Stripes */
    border-bottom:60px solid #FCCB06;
    
    border-top:60px solid #FCCB06;
    border-left:60px solid transparent;
    border-right:60px solid transparent;
    transform:rotate(-90deg);
    top:-60px;
    left:108px;
    z-index:3;
    clip-path: inset(0 0 0 50%);
    border-radius: 10px;
    
}
.gift-container .shadow
{
    content:'';
    width:340px;
    height:40px;
    background:rgba(0,0,0,.1);
    top:100px;
    border-radius:50%;
    position:relative;
    animation:BounceOut 3s ease infinite forwards;

}

.shadow.active
{
    animation:none;
}
.message-div{
  position:absolute;
  /* font-size: 18px; */
  text-align:center;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:2px;
  color: #242424;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  min-height:90px;
  min-width:300px;
  max-height:fit-content;
  max-width:fit-content;
  background-color:white;
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* border-radius:5px; */
  border:#242424 solid 1px;
  /* transition: transform 9s ease,opacity 0.5s ease; */
  /* transition: opacity 1s ease, visibility 0s 1s; */
  animation: none;
  line-height: 1.6;
  


}
.message{
    padding:5px;
}
.message-div.show-message
    
{   animation: messageAnimation 4s ease forwards;
  }
  @keyframes messageAnimation {
    0% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
    }
    30% {
      transform: translate(-30%, -80%) scale(0.5) ;
      opacity: 0;
    }
    40% {
      transform: translate(-30%, -100%) scale(1) ;
      opacity: 0.5; /* Opacity starts increasing here */
    }
    100% {
      transform: translate(150%, -120%) scale(2) ;
      animation:Bounce 3s;
      opacity: 1;
    }
  }
  #my-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    visibility:hidden; 
    pointer-events: none;
}
#my-canvas.active{
    visibility: visible;
    
}
footer{
    position:absolute;
    align-self: flex-end;
    bottom:30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.montserrat{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-size: 30px;
}
.logo.active{
    visibility:hidden;
}



/* This is the styles for small screen  */

@media(max-width:768px) {
   
    body{
        position:relative;
        
        display:flex;
        justify-content: center;
        align-items:center;
        
    }
    .header{
    align-self: flex-start;
    margin-top: 50px ;
    font-size:30px;
    color: #242424;
    text-align:center;
    
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .gift-container
    {
        display:flex;
        justify-content:center;
        align-items:center;
        position:absolute;
        bottom:40%;
        animation:Bounce 3s ease infinite forwards;
        cursor:pointer;
    
    
    
    }
    @keyframes Bounce
    {
        0%{
            transform:translateY(-30px);
    
        }
        50%
        {
            transform:translateY(0px)
    
        }
        100%
        {
            transform:translateY(-30px)
    
        }
    }
    @keyframes BounceOut
    {
        0%{
            transform:translateY(30px);
            scale: .7;
    
        }
        50%
        {
            transform:translateY(0px);
            scale:1;
    
        }
        100%
        {
            transform:translateY(30px);
            scale:.7;
    
        }
    }
    .gift-container .gift-box
    {
       position:absolute;
       height:100px;
       width:150px;
       background: #CD001A;
       border: 3px solid #b30000; /* Darker border for depth */
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
        border-radius: 15px; /* Slight rounding for a realistic look */
    
        
    
    }
    /* .gift-container.active
    {
        transform: translateX(-50%);
    } */
    
    
    .gift-container.active{
        animation:Vibration 1.5s ease forwards;
        /* transform:translateX(-100%) */
        /* transition: 5s ease; */
        /* transform:translateX(-100%);
     */
    }
    
    @keyframes Vibration {
        0%
        {
            transform:scale(1,1) ;

    
        }
        25%
        {
            transform:scale(.95,1.05) ;
            opacity:0.75;
        }
        50%
        {
            transform:scale(1.1,0.9) ;
            opacity:0.5;
        }
        70%
        {
            
            transform:scale(0.9,1.1) translateY(100px) ;
          
          opacity:0.7;
          visibility: hidden;
            
        }
        100%
        {
            /* transform:translateY(100px) ; */
            transform: translateY(100px) ;

         /* opacity:1;    */
         /* opacity:0.2; */
    
         opacity:1;
         visibility: hidden;
        
         
        }
        
    
    }
    
    .gift-box::before{
        content:'';
        position:absolute;
        width:30px;
        height:100px;
        /* background:#FCCB06; */
        background: linear-gradient(to right, #FCCB06, #F6A600), 
        repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 0.2) 5px, rgba(0, 0, 0, 0.1) 5px, rgba(0, 0, 0, 0.1) 10px); /* Stripes */
        left:58px;
        border-radius: 0px 0px 5px 5px;
    
    }
    .gift-box::after{
        content:'';
        position:absolute;
        box-shadow: inset 0 10px rgba(0,0,0,0.3)
    }
    .click
    {
        position:absolute;
        background:#CD001A;
        width:180px;
        height:70px;
        top:-100px;
        border-radius:15px;
        border: 3px solid #b30000;
        cursor:pointer;
        z-index:1;
        transition: .5s ease;
        
       
    
    }
    .click.active
    {
        transform: translateY(-100px);
        visibility:hidden;
       
    }
    .click::before
    {
        content:'';
        position:absolute;
        width:30px;
        height:70px;
        background: linear-gradient(to right, #FCCB06, #F6A600), 
        repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 0.2) 5px, rgba(0, 0, 0, 0.1) 5px, rgba(0, 0, 0, 0.1) 10px); /* Stripes */
        left:73px;
        z-index:2;
        border-radius: 5px 5px 0px 0px;  
    }
    .click::after{
        content:'';
        position:absolute;
        width:5px;
        height:0px;
         background:linear-gradient(to right, #FCCB06, #F6A600), 
         repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 0.2) 5px, rgba(0, 0, 0, 0.1) 5px, rgba(0, 0, 0, 0.1) 10px); /* Stripes */
        border-bottom:60px solid #FCCB06;
        
        border-top:60px solid #FCCB06;
        border-left:35px solid transparent;
        border-right:30px solid transparent;
        transform:rotate(-90deg);
        top:-60px;
        left:55px;
        z-index:3;
        clip-path: inset(0 0 0 50%);
        border-radius: 15px;
        
    }
    .gift-container .shadow
    {
        content:'';
        width:260px;
        height:35px;
        background:rgba(0,0,0,.1);
        top:70px;
        border-radius:50%;
        position:relative;
        animation:BounceOut 3s ease infinite forwards;
    
    }
    
    .shadow.active
    {
        animation:none;
    }
    .message-div{
      position:absolute;
      /* font-size: 18px; */
      text-align:center;
      display:flex;
     
      justify-content: center;
      align-items: center;
      padding:2px;
      color: #242424;
      top: 50%;
      left: 30%;
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
      min-height:50px;
      min-width:100px;
      max-height:fit-content;
      max-width:50%;
      background-color:white;
      /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
      /* border-radius:5px; */
      border:#242424 solid 1px;
      /* transition: transform 9s ease,opacity 0.5s ease; */
      /* transition: opacity 1s ease, visibility 0s 1s; */
      animation: none;
      line-height: 1.6;
      
    
    
    }
    .message{
        padding:3px;
      
    }
    .message-div.show-message
        
    {   animation: messageAnimation 2s ease forwards;
        visibility: visible;
       
      }
      @keyframes messageAnimation {
        0% {
          transform: translate(0%, -80%) scale(0);
          /* opacity: 0.1; */
          opacity:0;
          visibility: hidden;
        }
        30% {
          transform: translate(-10%, -100%) scale(1) ;
          /* opacity: 0.5; */
          visibility: hidden;
        }
        40% {
          transform: translate(-15%, -150%) scale(1.8) ;
          opacity: 0.8; /* Opacity starts increasing here */
          visibility: visible;
        }
        100% {
          transform: translate(-18%, -150%) scale(1.8) ;
          animation:Bounce 3s;
          opacity: 1;
          visibility: visible;
        }
      }
      #my-canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        visibility:hidden; 
        pointer-events: none;
    }
    #my-canvas.active{
        visibility: visible;
        
    }
    footer{
        position:absolute;
        align-self: flex-end;
        bottom:30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 15px;
    }
    
    .montserrat{
      font-family: "Montserrat", serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: italic;
      font-size: 16px;
      text-align:justify;
    }
    .logo{
        height:60px;
        width:60px;
        visibility: visible; 
        border-radius: 50%;
        /* margin-top:70%; */
        bottom:70px;
        position:absolute;
        align-self:flex-end;
      opacity:1;
    }
    
}